@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('fonts/Gilroy-ExtraBold.ttf');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('fonts/Gilroy-Bold.ttf');
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url('fonts/Gilroy-Heavy.ttf');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('fonts/Gilroy-Medium.ttf');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('fonts/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('fonts/Gilroy-Light.ttf');
}

@font-face {
  font-family: 'PPMori-SemiBold';
  src: url('fonts/PPMori-SemiBold.otf');
}

@font-face {
  font-family: 'PPMori-Regular';
  src: url('fonts/PPMori-Regular.otf');
}

@font-face {
  font-family: 'Oswald-ExtraLight';
  src: url('fonts/Oswald-ExtraLight.ttf');
}

@font-face {
  font-family: 'Oswald-Light';
  src: url('fonts/Oswald-Light.ttf');
}

@font-face {
  font-family: 'Oswald-Regular';
  src: url('fonts/Oswald-Regular.ttf');
}

@font-face {
  font-family: 'Oswald-Medium';
  src: url('fonts/Oswald-Medium.ttf');
}

@font-face {
  font-family: 'Oswald-SemiBold';
  src: url('fonts/Oswald-SemiBold.ttf');
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url('fonts/Oswald-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-VariableFont_wght';
  src: url('fonts/Montserrat-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Montserrat-Italic-VariableFont_wght';
  src: url('fonts/Montserrat-Italic-VariableFont_wght.ttf');
}

.header-footer-background-colour {
  background-color: #070707;
}

body {
  font-family: 'Gilroy-ExtraBold', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  /* background: linear-gradient(to bottom right, #3B0747, #040bf0); */
}

.app_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* // HEADER FONT */
h1 {
  font-family: 'Gilroy-ExtraBold', sans-serif;
  color: white;
}

/* // TITLE FONT */
h2 {
  font-family: 'Oswald-Bold', sans-serif;
  color: white;
  line-height: 1.2;
  animation: colorChange 8s forwards infinite;
}

/* // PARAGRAPH FONT */
h3 {
  font-family: 'Montserrat-VariableFont_wght', sans-serif;
  color: white;
  line-height: normal;
}

span {
  font-family: 'Montserrat-VariableFont_wght', sans-serif;
  font-weight: 600;
  /* color: rgb(4, 255, 100); */
 /*  color: rgb(4, 255, 192); */
  /* color: rgb(255, 4, 247); */
  /* color: rgb(117, 255, 4); */
  /* color: rgb(255, 4, 17); */
  color: rgb(255, 4, 121);
 /*  color: rgb(255, 142, 4); */
}

h4 {
  font-family: 'Montserrat-VariableFont_wght', sans-serif;
  font-weight: 600;
  color: black;
  width: 43%;
}

footer {
  font-family: 'Gilroy-Medium', sans-serif;

}

.footer_2nd_font {
  font-family: 'PPMori-Regular', sans-serif;
}

.hover\:filter-grey-to-white:hover path {
  fill: #ff0479;
}

.hover-underline:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

@keyframes colorChange {
  from {
    color: #000000;
  }

  to {
    color: #ffffff;
  }

  from {
    color: #000000;
  }

  to {
    color: #ffffff;
  }
}

@keyframes colorChange2 {
  from {
    color: #ffffff;
  }

  to {
    color: #000000;
  }

  from {
    color: #ffffff;
  }

  to {
    color: #000000;
  }
}