@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Gilroy-ExtraBold'; 
  src: url('fonts/Gilroy-ExtraBold.ttf');
}

body {
  font-family: 'Gilroy-ExtraBold', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(to bottom right, #3B0747, #040bf0);
}

h1 {
  font-family: 'Gilroy-ExtraBold', sans-serif;

}

.next-logo-white {
  filter: brightness(0) invert(1);
}

.next-logo-black {
  filter: brightness(0) invert(0);
}