@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('fonts/Gilroy-ExtraBold.ttf');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('fonts/Gilroy-Bold.ttf');
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url('fonts/Gilroy-Heavy.ttf');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('fonts/Gilroy-Medium.ttf');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('fonts/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('fonts/Gilroy-Light.ttf');
}

@font-face {
  font-family: 'PPMori-SemiBold';
  src: url('fonts/PPMori-SemiBold.otf');
}

@font-face {
  font-family: 'PPMori-Regular';
  src: url('fonts/PPMori-Regular.otf');
}

.header-footer-background-colour {
  background-color: #070707;
}

body {
  font-family: 'Gilroy-ExtraBold', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(to bottom right, #3B0747, #040bf0);
}



/* CSS */
.app_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main_container_div {
}



h1 {
  font-family: 'Gilroy-ExtraBold', sans-serif;
  color: white;
}

h2 {
  font-family: 'PPMori-SemiBold', sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: white;
  width: 75%;
  line-height: 1.2;
  padding-bottom: 2.9rem;
  animation: colorChange 8s forwards infinite;
}

h3 {
  font-family: 'Gilroy-ExtraBold', sans-serif;
  font-weight: 900;
  font-size: 66px;
  color: white;
  width: auto;
}

footer {
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: large;
}

.footer_2nd_font{
  /* font-family: 'Gilroy-Light', sans-serif; */
  font-family: 'PPMori-Regular', sans-serif;
  font-size: 0.98rem;
}

.next-logo-white {
  filter: brightness(0) invert(1);
  cursor: pointer;
}

.next-logo-black {
  filter: brightness(0) invert(0);
  cursor: pointer;
}

@keyframes colorChange {
  from {
    color: #000000;
  }

  to {
    color: #ffffff;
  }
}

@keyframes colorChange2 {
  from {
    color: #ffffff;
  }

  to {
    color: #000000;
  }
}